{% extends 'base.html.twig' %}
{% block body %}
    <h1>modification </h1>
    {{ form_start(form) }}
    <table>
        <tr>
            <td>nom</td>
            <td>{{ form_widget(form.nom) }}</td>

        </tr>







    </table>
    {{ form_end(form) }}
{% endblock %}